body{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}

img#titulo{
    width: 1350px;
}
img#contar{
    width: 250px;
    border-color: black;
    border-radius: 10mm;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 200px;
}