body{
    background-image: url(Imagens/fundoprincipal.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
}
h1{
    text-align: center;
}
img#titulo{
    width: 1350px;
}
img#contar{
    width: 250px;
    border-color: black;
    border-radius: 10mm;
}
